@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7da111;
  --color-secondary: #033733;
}
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
.active {
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
  font-weight: 800;
  color: #7da111;
}
